html {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  background: black;
}

body {
  margin: auto;
  width: 420px;
  padding: 165px;
  overflow: hidden;
}

h1, h2 {
  background: linear-gradient(to bottom right, #00c0ff, #4218b8);
  color: transparent;
  background-clip: text;
  text-align: center;
  letter-spacing: 4px;
}

p {
  background: linear-gradient(to bottom right, #00c0ff, #4218b8);
  color: transparent;
  background-clip: text;
  text-align: center;
  letter-spacing: 2px;
}

a {
  background: linear-gradient(to bottom right, #00c0ff, #4218b8);
  color: transparent;
  background-clip: text;
}

div {
  width: 90%;
  padding: 8px;
  display: block;
  text-align: center;
  margin-inline: auto;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  box-sizing: border-box;
  border-image: linear-gradient(to bottom right, #00c0ff, #4218b8) 1;
}

footer {
  background: linear-gradient(to bottom right, #00c0ff, #4218b8);
  color: transparent;
  background-clip: text;
  padding: 5px;
  margin-inline: auto;
  text-align: left;
}


.avatar {
  width: 300px;
  display: block;
  border: double 0.2em transparent;
  border-radius: 50%;
  margin-inline: auto;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom right, #00c0ff, #4218b8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.skills {
  top: 165px;
  width: 162px;
  position: absolute;
  margin-left: 399px;
  border-image: linear-gradient(to bottom right, #4218b8, #00c0ff) 1;
}

.sections {
  top: 450px;
  width: 162px;
  position: absolute;
  padding: 20px;
  margin-left: 399px;
  border-image: linear-gradient(to top right, #4218b8, #00c0ff) 1;
}

.contributions {
  top: 520px;
  width: 162px;
  position: absolute;
  margin-left: 399px;
  border-image: linear-gradient(
      to bottom right,
      #4218b8,
      #00c0ff,
      #4218b8,
      #4218b8,
      #00c0ff
    )
    1;
}

.contributions img {
  height: 100%;
  width: 100%;
}
