html {
  font-size: 18px;
  background-repeat: repeat;
  font-family: "Silkscreen", sans-serif;
}

body {
  margin: auto;
  width: 420px;
  padding: 165px;
  overflow: hidden;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img.avatar {
  width: 300px;
  display: block;
  border-radius: 50%;
  margin-inline: auto;
}

h1, h2 {
  color: whitesmoke;
  text-align: center;
  letter-spacing: 3px;
}


p {
  color: whitesmoke;
  text-align: center;
  letter-spacing: 3px;
}

a {
  color: whitesmoke;
}

div {
  width: 90%;
  padding: 8px;
  text-align: center;
  margin-inline: auto;
  border-radius: 5px;
  border-width: thin;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
  color: whitesmoke;
  padding: 5px;
  margin-inline: auto;
}

.skills {
  top: 165px;
  width: 165px;
  position: fixed;
  margin-left: 410px;
  margin-right: 300px;
  background: #000428;
  border-radius: 20px;
}

.sections {
  top: 460px;
  width: 165px;
  position: fixed;
  margin-left: 410px;
  margin-right: 300px;
  border-radius: 20px;
  background: #000428;
}
